<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>DynamicTemplate</display-name>
  <servlet>
    <servlet-name>TemplateStructure</servlet-name>
    <servlet-class>main.TemplateStructure</servlet-class>
    <init-param>
      <param-name>param1</param-name>
      <param-value>value1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemplateStructure</servlet-name>
    <url-pattern>/TemplateStructure</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResultTemplate</servlet-name>
    <servlet-class>main.ResultTemplateAction</servlet-class>
    <init-param>
      <param-name>param1</param-name>
      <param-value>value1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultTemplate</servlet-name>
    <url-pattern>/ResultTemplate</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>